/Department.class
/Doctor.class
/GeneralWard.class
/HospitalOperations.class
/HospitalStaff.class
/ICU$VentilatorStatus.class
/ICU.class
/InvalidAdmissionDataException.class
/InvalidPatientException.class
/Main.class
/MedicalUnit.class
/Nurse.class
/Patient.class
/RemoteMonitoring.class
